.resource-list {
  /* display: grid;
  grid-auto-flow: column; */
  /* grid-auto-columns: 1fr; */
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 50px;
}

.resource-button-section {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.resource-add-button {
  margin: 0 15px;
}

.resource-delete-button {
  margin: 0 15px;
}

.each-resource-section {
  margin: 60px 0;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.resource-list > * {
  flex: 0 0 20%;
}

.resource-delete-button {
  width: 50%;
  margin-top: 10px;
}

.icons {
  align-self: end;
  font-size: 25px;
}

.icon {
  padding: 5px 10px;
}

.icon:hover {
  cursor: pointer;
}

.user {
  color: #317388;
}

.user:hover {
  color: #31add5;
  cursor: pointer;
}

.resource-name {
  font-size: 1.4em;
  font-weight: 500;
}
