body {
  background-color: #ecfdff;
}

.resource-list {
  /* display: grid;
  grid-auto-flow: column; */
  /* grid-auto-columns: 1fr; */
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 0 50px;
}

.resource-button-section {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.resource-topic-button {
  margin-right: 10px;
}

.resource-add-button {
  margin-right: 10px;
}

.resource-add-button {
  margin: 0 15px;
}

.resource-delete-button {
  margin: 0 5px;
}

.each-resource-section {
  margin: 80px 25px 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 20px;
  height: auto;
  background-color: #f9f6e8;
}

.each-resource-section:hover {
  background-color: #f7eec6;
  cursor: pointer;
}

.resource-list > * {
  flex: 0 0 2%;
}

.resource-delete-button {
  width: 25%;
  margin-top: 10px;
}

.icons {
  align-self: end;
  font-size: 25px;
  display: flex;
}

.icon {
  padding: 5px 0 0 15px;
}

.icon:hover {
  cursor: pointer;
}

.icons-container {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}

.user {
  align-self: end;
  color: #196f8a;
  margin-bottom: 5px;
  margin-top: 5px;
}

.user:hover {
  color: #31add5;
  cursor: pointer;
}

.resource-header {
  padding-top: 8px;
  width: 100%;
  border-radius: 20px;
}

.resource-name {
  font-size: 1.6em;
  font-weight: 600;
  text-align: center;
}

.resource-description {
  margin: 5px 0 10px 0;
  font-size: 0.9em;
  text-align: center;
}

.edit-delete-container {
  margin-bottom: 40px;
  display: flex;
  justify-content: end;
}

.url-image {
  width: 100%;
  height: 65%;
  object-fit: cover; /*magic*/
}

.url-title {
  padding: 8px;
  font-weight: 600;
}

.url-description {
  padding: 2px 8px;
  font-weight: 400;
  font-size: 0.8em;
}

.url-icon {
  width: 6%;
  height: 6%;
  position: absolute;
  bottom: 10px;
  right: 15px;
}

.resource-preview {
  width: 500px;
  height: 450px;
  border-radius: 20px;
  position: relative;
}

@media (max-width: 400px) {
  .Container {
    height: 500px !important;
    width: 300px !important;
    border-radius: 15px;
  }

  .each-resource-section {
    width: 100%;
    align-self: center;
    margin: 10px 0 0 0;
  }
}
